.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

table.divtable2 {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
}

div.divSearchField {
    text-align: left;
}

div.divtable {
position: absolute;
    left: 10px;
    width: calc(100% - 10px);

/*  width: 500px;*/
  height: 1000px;
  overflow: auto;
}

.App-header {
  background-color: #ffffff;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color:#0096ff; 
  font-weight: bold;
  /*rgb(15, 96, 163);*/
}

.Logo-info {
  background-color: #ffffff;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: #000000;
  font-weight: bold;
}

.withspacer {
  margin-top: 5px;
  margin-bottom: 5px;
}

.buttonspacer {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;

color: #ffffff;
  background-color: #0096ff;
  border-color: #0096ff;
  font-weight: bold;

/*
  color: #333;
  background-color: #fff;
  border-color: #ccc;
*/
}

.App-divider {
  background-color: #0096ff;
  min-height: 3vh;
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: #ffffff;
  font-weight: bold;
}

.App-body {
  background-color: #FFC0CB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container_map {
  height: 500px;
  min-width: 310px;
  max-width: 800px;
  margin: 0 auto;
}

.App-footer {
  background-color: #ffffff;
  max-height: 20vh;
  display: flex;
  justify-content: center;
  gap : 100px;
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
}